/* Configurações gerais */
*{
    margin: 0px;
    padding: 0px;
}

body{ 
    font-family: "Trebuchet MS", "Helvetica Neue", sans-serif;
    overflow-x: hidden;  
    background-image: url(../Agendeja/Imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}



/* Configurações Topo */
#topo{
    background: #2091E3;
    line-height: 8vh;
    color: white;
}
#topo h1{
    position: relative; left:20px;
}
