/* Configurações gerais */
*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

body { 
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Configuração form */
form{
    background: rgb(227, 226, 235);
    border-radius: 25px;
    max-width: 600px;
    width: 100%;
    padding: 0.5rem 1rem;
}
form h2{
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


label {
    display: flex;
    flex-direction: column;
    margin-bottom:  20px;
    width: 100%;
}
.box{
    flex-direction: row;
    gap:1rem;
    align-items: center;
}

input[type=text],[type=e-mail],[type=tel],textarea {
    padding: 10px;
    width: 100%;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: 0;
    margin-top: 5px;
    border-radius: 25px;
}


textarea{
    height: px;
    resize: none;
}

.btn {
    display: block;
    padding: 12px;
    font: size 15px;
    border: 1px solid #ccc;
    background-color: #eee;
    margin: 2px auto;
    border-radius: 50px;
    width: 220px;
}

    

.btn:hover {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

/* PG 2 */
   


#Sucesso{
    border-radius: 50px;
    width: 450px;
    height: 250px;
    background: #ccc;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    color: rgb(2, 2, 81) ;
}
#Sucesso h2{
    padding: 90px;
    font-size: 25px;
    
}