/* Configurações gerais */
*{
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
}

body { 
    font-family: "Trebuchet MS", "Helvetica Neue", sans-serif;
    background-size: cover;
    background-image: url(../Form%20Leads/Imagens/praia.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100vw;

}


/* Configuração form */
form{
    background: rgb(227, 226, 235);
    border-radius: 25px;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px 0;
}
form h2{
    width: 360px;
    position: relative; left: 70px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


label {
    display: block;
    margin-bottom:  20px;
    position: relative; left:50px;
}

input[type=text],[type=e-mail],[type=tel],textarea {
    padding: 10px;
    width: 500px;
    font-size: 15px;
    border: 1px solid #ccc;
    outline: 0;
    margin-top: 5px;
    border-radius: 25px;
}


textarea{
    height: px;
    resize: none;
}
.termoslink{
    color:#000;
    text-decoration: none;
}

.btn {
    padding: 12px;
    font: size 15px;
    border: 1px solid #ccc;
    background-color: #eee;
    position: relative; left:190px;
    margin: 10px;
    border-radius: 50px;
    width: 220px;
}

    

.btn:hover {
    background-color: rgb(255, 255, 255);
}

/* PG 2 */
#container2{
   

}
#Sucesso{
    border-radius: 50px;
    width: 450px;
    height: 250px;
    background: #ccc;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    color: rgb(2, 2, 81) ;
}
#Sucesso h2{
    padding: 90px;
    font-size: 25px;
    
}